#main{
text-align:center;
}

# input{ 
font-size:20px;
}

#reg_name,#reg_surname,#reg_submit,#reg_password{
padding:10px;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
font-weight:bold;
margin:10px;
font-size:20px;
}

label{
font-size:20px;
font-weight:bold;
}

#reg_name,#reg_surname,#reg_password
{
width:240px;
}

#reg_submit{
margin-right:55px;
}

